<!--   Forms-->
<mat-form-field appearance="fill">
  <mat-label> Nome</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>email</mat-label>
  <input matInput >
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label> senha</mat-label>
  <input matInput>
</mat-form-field>
<!--   Buttons-->
<div>
  <button mat-stroked-button (click)="getData()">Get</button>
  <button mat-stroked-button (click)="post()">Post</button>
  <button mat-stroked-button (click)="put()">Put</button>
  <button mat-stroked-button (click)="delete()">Delete</button>
</div>
